.filters {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    padding: 20px 30px;
    color: var(--dark-grayish-blue);
    background-color: var(--very-dark-desaturated-blue);
    border-radius: var(--border-radius);
    cursor: pointer;
    
    &__all:hover {
        color: var(--light-grayish-blue-hover);
    }

    &__all:active {
        color: var(--bright-blue);
    }

    &__active:hover {
        color: var(--light-grayish-blue-hover);
    }

    &__active:active {
        color: var(--bright-blue);
    }

    &__completed:hover {
        color: var(--light-grayish-blue-hover);
    }

    &__completed:active {
        color: var(--bright-blue);
    }
}